logging:
  level:
    org:
      hibernate: INFO
      springframework:
        web: INFO
        security: DEBUG
spring:
  frontend: "*"
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://postgres:5432/sda_catalog
    username: saynotodream
    password: 0p3nw0lrd
  devtools:
    add-properties: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        id:
          uuid:
            generator: org.hibernate.id.UUIDGenerator
        jdbc:
          lob:
            non_contextual_creation: true
  mvc:
    validation: true
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: https://dev-auth.gmf-aeroasia.co.id/auth/realms/sda-catalog
        registration:
          keycloak:
            client-id: sda-catalog-web
      resourceserver:
        jwt:
          jwk-set-uri: https://dev-auth.gmf-aeroasia.co.id/auth/realms/sda-catalog/protocol/openid-connect/certs
